# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
#*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
#*.lai
#*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app


xml/unit-tests/commit/x86/xml-unit-tests
xml/examples/xml-example1/x86/xml-example1
xml/xml-validator/x86/xml-validator
**/Debug/
**/build/
**/.vs/
**/bin
